/desktop.ini
.vscode/
.htaccess
config.php
config_test.php
apps.zip
public_html.zip
app.zip
includes.zip
favicon.ico
*.patch
config.local.php
google-service-account.json
apps/storage/mail_htmlpurifier_cache/
tests/
.env
*.sql
rate_limit_*.json